<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urunggundrup.gotani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoTani"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AlamatCheckout"
            android:exported="true" />
        <activity
            android:name=".LihatSemuaProduk"
            android:exported="true" />
        <activity
            android:name=".Keranjang"
            android:exported="true" />
        <activity
            android:name=".DetailProdukUser"
            android:exported="true" />
        <activity
            android:name=".Add_Alamat"
            android:exported="true" />
        <activity
            android:name=".AturAlamatPengiriman"
            android:exported="true"
            android:label="@string/title_activity_atur_alamat_pengiriman" />
        <activity
            android:name=".AturProdukPenjualan"
            android:exported="true"
            android:label="@string/title_activity_atur_produk_penjualan" />
        <activity
            android:name=".Add_Produk"
            android:exported="true"
            android:label="@string/title_activity_add_produk" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.GoTani.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GoTani.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>